/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
    .navbar .navbar-nav {
        display: flex;
    }
    .navbar .navbar-toggler {
        display: none;
    }
    #href {
        display: flex;
        justify-content: space-between;
        align-items: center;


    }
    #href a {
        margin: 10px;
    }
    
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar .navbar-nav {
        display: none;
    }
    .navbar .navbar-toggler {
        display: block;
    }
}
