<nav class="navbar navbar-dark bg-danger fixed-top">
    <div class="container-fluid">
        <!-- header linnk  -->
        <a class="navbar-brand" href="#">Carlos Palladino</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-danger" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">

                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <a href="proyectos" class="nav-link active" style="color: white;">Proyecto</a>
                    <a href="contacto" class="nav-link active" style="color: white;">Contacto</a>

                </ul>


            </div>
        </div>
    </div>
</nav>