<h2>Pryectos</h2>

<p> Desarrollé proyectos altamente escalables utilizando tecnologías avanzadas como <rb>.NET, Sequelize, Entity
        Framework,
        Angular y React.</rb>
    Destacan por su arquitectura robusta y eficiencia, revelando mi <rb>incansable búsqueda y constante aprendizaje de
        nuevas tecnologías</rb>. Estos proyectos son evidencia de mi evolución continua y compromiso con soluciones
    tecnológicas
    modernas y eficaces.
</p>

<div id="Proyectos">
    <article>

        <h2>PokeApp</h2>
        <h3>07/2023-08/2023</h3>
        <h4>Objetivo:</h4>
        <h4>Tecnologias:</h4>
        <h4>Logros:</h4>
        <img src="" alt="">

    </article>
    <article>

        <h2>Tiendillo</h2>
        <h3>07/2023-08/2023</h3>
        <h4>Objetivo:</h4>
        <h4>Tecnologias:</h4>
        <h4>Logros:</h4>
        <img src="" alt="">

    </article>
    <article>

        <h2>DynosApp</h2>
        <h3>07/2023-08/2023</h3>
        <h4>Objetivo:</h4>
        <h4>Tecnologias:</h4>
        <h4>Logros:</h4>
        <img src="" alt="">

    </article>
    <article>

        <h2>Sanitarios Nicuesa</h2>
        <h3>04/2022-10/2022</h3>
        <h4>Objetivo:</h4>
        <h4>Tecnologias:</h4>
        <h4>Logros:</h4>
        <img src="" alt="">

    </article>

</div>