<div class="body">
    <article class="about-proyectos">

        <h2>Pryectos</h2>
        <p> Desarrollé proyectos altamente escalables utilizando tecnologías avanzadas como <rb>.NET, Sequelize, Entity
                Framework,
                Angular y React.</rb>
            Destacan por su arquitectura robusta y eficiencia, revelando mi <rb>incansable búsqueda y constante
                aprendizaje
                de
                nuevas tecnologías</rb>. Estos proyectos son evidencia de mi evolución continua y compromiso con
            soluciones
            tecnológicas
            modernas y eficaces.
        </p>
    </article>
    <div id="Proyectos">
        <article>
            <div class="texto">
                <h2>PokeApp</h2>
                <h5>07/2023-08/2023</h5>

                <h4>Objetivo:</h4>
                <p>Armé una Api Rest para aprender e implementar .Netcore, migrar una base de datos usando Entity
                    Framework y el uso de DTOS y AutoMapper para manejar datos.</p>
                <h4>Tecnologias:</h4>
                <p>Utilicé .Net Core, Sql Server, Entity Framework, Swagger, DTOS y AutoMapper.</p>
                <h4>Logros:</h4>
                <p>Aumenté la velocidad de respuesta promedio de la base de datos un 50%, donde apliqué el uso de
                    Automapper y Dtos para enviar datos que no sean sensibles.</p>
            </div>
            <div class="img-container">
                <img src="app/page/Images/Proyectos/Api.jpg" class="img" alt="PokeImg">
            </div>
        </article>
        <article>
            <div class="texto">
                <h2>Tiendilla</h2>
                <h5>06/2023-07/2023</h5>
                <h4>Objetivo:</h4>
                <p>Diseñé y desarrollé una aplicación web scroll que le permita a los administradores gestionar sus
                    productos y su visualización.</p>
                <h4>Tecnologias:</h4>
                <p>Utilicé .Net Framework 4.6.2, Sql Server, Bootstrap y Asp.net.</p>
                <h4>Logros:</h4>
                <p>Apliqué las validaciones de ASP a los formularios de bootstrap, personalicé los RegEx para que estos
                    brinden una respuesta clara del error.</p>
            </div>
            <div class="img-container">
                <img src="app/page/Images/Proyectos/ProyectoMaxiProgramaNivel3.jpg" class="img" alt="Maxi2">
            </div>
        </article>
        <article>
            <div class="texto">
                <h2>DynosApp</h2>
                <h5>04/2023-05/2023</h5>
                <h4>Objetivo:</h4>
                <p>Diseñé y desarrollé una aplicación de escritorio WinForms aplicando varias vistas con su propia
                    funcionalidad.</p>
                <h4>Tecnologias:</h4>
                <p>Utilicé .Net Framework 4.6.2, Sql Server y múltiples WinForm para cada sección de la aplicación.</p>
                <h4>Logros:</h4>
                <p>Implementé los principios S.O.L.I.D para hacer que mi código sea más fácil de leer y mantener.</p>
            </div>
            <div class="img-container">
                <img src="app/page/Images/Proyectos/DynosApp.jpg" class="img" alt="Maxi2">
            </div>
        </article>
    </div>


</div>