<Div class="About">

    <section class="presentation">

        <article id="txt">

            <p> Hola ! me llamo <rb>Carlos</rb> y soy de <rb>Buenos Aires,Argentina</rb> Me especializo desarrollando
                proyectos como <rb>Full Stack </rb>.Actulamente estoy desrrollando proyectos
                con <rb>
                    .Net,Angular,Entity Framework </rb>
            </p>
        </article>

        <article class="img-container">
            <img src="app/page/Images/FotoFondo.png" class="img" alt="Foto de perfil">
        </article>
    </section>

    <h2>Mi Stack</h2>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="app/page/Images/Tecnologias/Angular.png" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="app/page/Images/Tecnologias/Node.png" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="app/page/Images/Tecnologias/Javascript.png" alt="Slide 3">
            </div>
            <div class="carousel-item">
                <img src="app/page/Images/Tecnologias/Csharp.png" alt="Slide 4">
            </div>
            <div class="carousel-item">
                <img src="app/page/Images/Tecnologias/React.png" alt="Slide 5">
            </div>
            <div class="carousel-item">
                <img src="app/page/Images/Tecnologias/Boostrap.png" alt="Slide 6">
            </div>
            <div class="carousel-item">
                <img src="app/page/Images/Tecnologias/Net.png" alt="Slide 7">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="contenedor-del-boton">
        <a href="https://drive.google.com/file/d/1_QAmK8R5lssbKkp1iieGyCVhzLJ6t-y2/view?usp=drive_link" target="_blank">
            <button class="btn btn-warning btns">Descarga mi cv</button>
        </a>
    </div>


    <section id="about-me">
        <article>
            <h3>Mi camino</h3>
            <p>Empecé a estudiar programación en Digital House en 2022 como full stack web developer.
                actualmente ,me encuentro desarrollando proyectos autónomos, destacando en tecnologías como .Net y
                Angular,
                entity framework y boostrap, entre otros.
            </p>
        </article>
        <article>
            <h3>En busca de nuevos retos</h3>
            <p>Busco aplicar mi entusiasmo y constante aprendizaje como desarrollador para contribuir al desarrollo de
                aplicaciones robustas y escalables. Comprometido con la excelencia técnica, estoy emocionado por aportar
                mi
                experiencia a proyectos significativos.
            </p>
        </article>

    </section>
</Div>